<div class="jumbotron text-center">
  <h1>Viewing Project</h1>
</div>

<p id="notice"><%= notice %></p>

<table class="table">
<tbody>
<tr>
  <th>Title:</th>
  <td><%= @project.title %></td>
</tr>
<tr>
  <th>Description:</th>
  <td><%= @project.description %></td>
</tr>
</tbody>
</table>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-secondary" %>
<%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
